<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" rel="stylesheet">
  </head>
  <body>
    <a href="/">Home</a>
    | 
    <a href="/skills">All Skills</a>
    <h1><%= title %></h1>