<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
        <% skills.forEach(function(s) { %>
        <li>
            <a href="/skills/ <%= s.id %>">
                <%= s.skill %>
            </a>
        </li>
        <% }) %>
    </ul>
    <h4><a href="/">Home</a></h4>
  </body>
</html>
