<%- include('../partials/header') %>
<form action="/skills" method="POST" autocomplete="off">
    <div>
        <label for="skill">Skill</label>
        <input type="text" name="skill">
        <label for="level">Level (between 1 and 10)</label>
        <input type="number" name="level" min="1" max="10">
        <label for="description">Description</label>
        <input class="text-box" type="text" name="description">
    </div>
    <button type="submit">Save skill</button>
</form>
<%- include('../partials/footer') %>