body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

.simple-flex {
  display:flex;
}

.button-form{
  margin: 5px 10px 0 0;
}

.new-skill-form {
  width: 80%;
}

.green {
  color: green;
}

.grey {
  color: grey;
}

